.btn{
    background-color: transparent;
    border-radius: 20px;
    color: #fe64a2;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border: 1px solid #fe64a2;
    margin: 0.5rem 0;
}

.active{
    border: 1px solid #9c234f;
    background-color: #9c234f;
    color: white;
}